<div class="animated fadeIn">
  <form (ngSubmit)="onSubmit()" #estimateForm="ngForm" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <strong>Estimate Form</strong>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">Estimate Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="name" required #name="ngModel" [(ngModel)]="estimate.name" name="name" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="version">Estimate Version</label>
              <div class="col-md-2">
                <input type="text" #version="ngModel" required id="version" name="version" class="form-control" [(ngModel)]="estimate.version">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="inScope">In Scope</label>
              <div class="col-md-9">
                <textarea rows="5" #inScope="ngModel" id="inScope" name="inScope" class="form-control" [(ngModel)]="estimate.inScope"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="outOfScope">Out Of Scope</label>
              <div class="col-md-9">
                <textarea rows="5" #outOfScope="ngModel" id="outOfScope" name="outOfScope" class="form-control" [(ngModel)]="estimate.outOfScope"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="assumptions">Assumptions</label>
              <div class="col-md-9">
                <textarea rows="5" #assumptions="ngModel" id="assumptions" name="assumptions" class="form-control" [(ngModel)]="estimate.assumptions"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="active">Active</label>
              <div class="col-md-9">
                <label class="switch switch-label switch-pill switch-primary">
                  <input type="checkbox" id="active" name="active" class="switch-input" checked [(ngModel)]="estimate.active">
                  <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!estimateForm.form.valid">Submit</button>
            &nbsp;
            <button type="button" class="btn btn-secondary" routerLink="/estimates">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>